body {
	background: #000000;
	color: white;
	margin-left: 30px;
	margin-right: 200px;
}

h1 {
	color: blue;
	font-family: arial black;
	
}	

h2 {
	font-family: arial black;
}

p {
	font-size: 16px;
}	

footer {
	margim-bottom: 30px;
	
}	

.img_padrao {
	margim-bottom: 20px;
	width: 300px;
}	

.logo {
	width: 30px;
}	